<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/app.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/menu.css') }}" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.css">
    <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/vendor/select2/select2.css') }}">


    {% block javascripts %}

        <script type="text/javascript" src="{{ asset('bundles/bmatznerfoundation/js/vendor/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/bmatznerfoundation/js/foundation.min.js') }}"></script>
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.js"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/editablegrid.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/editablegrid.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/editablegrid_renderers.js')}}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/editablegrid_editors.js')}}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/editablegrid_validators.js')}}"></script>
        <script  type="text/javascript" src="{{ asset('bundles/app/js/editablegrid_utils.js')}}"></script>
        <script  type="text/javascript" src="{{ asset('bundles/app/js/editablegrid_charts.js')}}"></script>

        <script type="text/javascript" src="{{ asset('bundles/app/js/calendar-settings.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/ajaxsave.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/sonataadmin/vendor/select2/select2.min.js') }}"></script>

    {% endblock %}
</head>
<body>

<style>

    .testgrid tbody th:nth-child(5){
        display:none !important;
    }

    .testgrid thead td:nth-child(5){
        display:none !important;
    }
</style>

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/topheadergeral.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/fontes_awesome.css') }}" />
{% endblock %}

<div class="container-fluid">

    <div class="row">
        <div class="large-1 columns" style="height: auto;box-shadow: 1px 1px 10px #888888;z-index: 999;width: 107px;padding-left: 25px;">{% include 'default/menu.html.twig' %}</div>
        <div class=" large-15 columns">
            <div class="row">
                <div class="large-16 columns">



                    <div class="row full-width-row">
                        <style>


                        </style>


                        <header class="large-16 columns header_planeamento" style="width: 100.5%;margin-top: -672px;margin-left: 23px;">
                            {% if app.user %}
                                <input type="hidden" id="logged" value="{{app.user.id}}">
                            {% endif %}

                            <div class="large-6 columns">
                                <h6 class="title"> Entrada de Resultados </h6>

                            </div>
                            <div class="large-8 columns">
                                <a class="button right inactiveLink bg_color"></a>
                            </div>
                            <div class="large-1 columns">
                                <div class="menu_direita" >
                                    <div id="menu_direita_circulo"></div>
                                </div>

                            </div>

                            {% include 'default/ajax_chat_topheader_geral.html.twig' %}

                            {% include 'default/ajax_agenda_topheader_geral.html.twig' %}

                            <div id="tab_sidebar" class="sideBarRight" style="display: none;">


                                <ul class="nav nav-tabs material-tabs" role="tablist">
                                    <li  class="li_agenda" style="float: left;margin-left: -20px;margin-right: 10px;">
                                        <a id="chat_tab" class="tabulador" href="#tabs-1" aria-controls="notifications" role="tab" data-toggle="tab" aria-expanded="false">Agenda de hoje</a>

                                    </li>

                                    <li class="li_chat"><a class="tabulador" href="#tabs-2" aria-controls="message" role="tab" data-toggle="tab" aria-expanded="true">Chat</a>
                                    </li>

                                </ul>
                                <div id="n_lidas">

                                </div>

                                <div id="tabs-1">

                                </div>

                                <div id="tabs-2">


                                </div>


                            </div>
                        </header>
                    </div>

                    <style>
                        #tab_sidebar a
                        {
                            cursor: pointer!important;
                            color: black;
                            text-decoration: none!important;
                            background-color: white!important;
                        }

                        #tab_sidebar a:hover{
                            background-color: transparent!important;
                            -webkit-box-shadow: inset 0 -2px 0 #139c9b!important;
                            -moz-box-shadow: inset 0 -2px 0 #139c9b!important;
                            box-shadow: inset 0 -2px 0 #139c9b!important;
                            color: #139c9b!important;
                        }

                        #tab_sidebar a:focus{
                            background-color: transparent!important;
                            -webkit-box-shadow: inset 0 -2px 0 #139c9b!important;
                            -moz-box-shadow: inset 0 -2px 0 #139c9b!important;
                            box-shadow: inset 0 -2px 0 #139c9b!important;
                            color: #139c9b!important;
                        }

                        .loading
                        {
                            margin-top: 10px!important;
                        }

                        #chat_tab{
                            margin-right: 0px!important;
                        }
                    </style>
                </div>
            </div>
            <div class="row">

                <div class="large-13 columns" style="margin-top: -560px;margin-left: 35px;">

                    {% block actions %}
                        <div class="form-group">
                            <label for="inputdefault">ID Amostra</label>
                            <input class="form-control" id="Amostra_id" type="text">
                        </div>
                        <div class="form-group">
                            <label for="parametro_ent_resultados">Parametro</label>
                            <select class="parametro_ent_resultados" data-placeholder="Seleccione um Parametro" >
                                <option></option>
                                {% for parameter in data %}
                                    <option value="{{ parameter.fnId }}">{{ parameter.ftDescricao }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <a href="#" onclick="getdata()" class="button right">Pesquisar</a>
                            <a href="#" onclick="savedata()" class="button right">Salvar</a>
                        </div>
                    {% endblock %}
                    {% block tab_menu %}
                    {% endblock %}
                    {% block show %}
                    {% endblock %}
                    {% block form %}
                    {% endblock %}

                    {% block list_table %}
                        <div id="tablecontent"></div>

                    {% endblock %}
                    {% block list_filters %}
                    {% endblock %}
                </div>
                <div class="large-3 columns">
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    window.onload = function() {
        editableGrid = new EditableGrid("Entrada Resultados",{
            modelChanged: function(rowIndex, columnIndex, oldValue, newValue, row) {
                $.ajax({
                    type: "POST",
                    url: '{{path('EntradaResultadosgetByRegrasFormatacao')}}',
                    data: {data1 : row.cells[1].textContent , data2 :row.cells[6].textContent },
                    success: function(data) {
                        var obj = $.parseJSON(data);
                        var val_down = 0;
                        var val_up = 0;
                        var validate = false;
                        if(obj.condi.length !=0) {
                            $.each(obj.condi, function( index, value ) {
                                val_down = value.fn_limiteinferior;
                                val_up = value.fn_limitesuperior;
                                if(parseFloat(newValue.replace(',','.').replace(' ','')) > parseFloat(val_down.replace(',','.').replace(' ','')) && parseFloat(newValue.replace(',','.').replace(' ','')) < parseFloat(val_up.replace(',','.').replace(' ',''))){
                                    editableGrid.setValueAt(rowIndex, 4, value.ft_expressaoutilizador, true);
                                    validate = true;
                                }
                            });

                        }
                        if(validate == false){
                            editableGrid.setValueAt(rowIndex, 4, newValue, true);
                        }
                    }
                });
            }
        });
        editableGrid.tableLoaded = function() { this.renderGrid("tablecontent", "testgrid"); };
    }

    var condi;
    function savedata(){
        $.ajax({
            type: "POST",
            url: '{{path('EntradaResultadossetByRegrasFormatacao')}}',
            data: JSON.stringify(editableGrid.data),
            success: function(data) {
                if(data > 0){
                    alert("Resultados Guardados com sucesso");
                }else{
                    alert("Resultado não guardado");
                }
            }
        });
    }

    function getdata(){
        if( $('.parametro_ent_resultados').select2('data') != null){
            $.ajax({
                type: "POST",
                url: '{{path('EntradaResultadosGetByParameter')}}',
                data: $('.parametro_ent_resultados').select2('data').id,
                success: function(data) {
                    if(data != "NoData"){
                        var metadata = [];
                        metadata.push({name: "ft_id_estado", label: "E", datatype: "string", editable: false});
                        metadata.push({
                            name: "fn_id_amostra",
                            label: "Amostra",
                            datatype: "string",
                            editable: false
                        });
                        metadata.push({
                            name: "ft_descricao",
                            label: "Parametro",
                            datatype: "string",
                            editable: false
                        });
                        metadata.push({
                            name: "ft_original",
                            label: "Resultado Original",
                            datatype: "string",
                            editable: true
                        });
                        metadata.push({
                            name: "ft_formatado",
                            label: "Valor Formatado",
                            datatype: "string",
                            editable: false
                        });
                        metadata.push({name: "medida", label: "Unidades", datatype: "string", editable: false});
                        metadata.push({
                            name: "fn_id_parametro",
                            label: "ID Paramentro",
                            datatype: "string",
                            hidden: true
                        });
                        var obj = $.parseJSON(data);
                        if(obj.data.length !=0){
                            var data2 = [];
                            var tt =1;
                            $.each( obj.data, function( key, value ) {
                                var values = JSON.stringify(value).replace('[','');
                                values = values.replace(']','');
                                data2.push({id: tt, values: JSON.parse(values)});
                                tt++;
                            });
                        }else{
                            var data2 = [];
                        }
                        editableGrid.load({"metadata": metadata, "data": data2});
                        editableGrid.renderGrid("tablecontent", "testgrid");
                    }else{
                        alert("Não foram encontrados resultados para o seu pedido.")
                    }
                }
            });
        }else{
            if( $('#Amostra_id').val() != null){
                $.ajax({
                    type: "POST",
                    url: '{{path('EntradaResultadosGetByAmostra')}}',
                    data: $('#Amostra_id').val(),
                    success: function(data) {
                        if (data != "NoData") {
                            var metadata = [];
                            metadata.push({name: "ft_id_estado", label: "E", datatype: "string", editable: false});
                            metadata.push({
                                name: "fn_id_amostra",
                                label: "Amostra",
                                datatype: "string",
                                editable: false
                            });
                            metadata.push({
                                name: "ft_descricao",
                                label: "Parametro",
                                datatype: "string",
                                editable: false
                            });
                            metadata.push({
                                name: "ft_original",
                                label: "Resultado Original",
                                datatype: "string",
                                editable: true
                            });
                            metadata.push({
                                name: "ft_formatado",
                                label: "Valor Formatado",
                                datatype: "string",
                                editable: false
                            });
                            metadata.push({name: "medida", label: "Unidades", datatype: "string", editable: false});
                            metadata.push({
                                name: "fn_id_parametro",
                                label: "ID Paramentro",
                                datatype: "string",
                                hidden: true
                            });

                            var obj = $.parseJSON(data);

                            if (obj.data.length != 0) {
                                var data2 = [];
                                var tt = 1;
                                $.each(obj.data, function (key, value) {

                                    var values = JSON.stringify(value).replace('[', '');
                                    values = values.replace(']', '');

                                    data2.push({id: tt, values: JSON.parse(values)});
                                    tt++;
                                });
                            } else {
                                var data2 = [];

                            }
                            editableGrid.load({"metadata": metadata, "data": data2});
                            editableGrid.renderGrid("tablecontent", "testgrid");

                        } else {
                            alert("Não foram encontrados resultados para o seu pedido.")
                        }
                    }
                });
            }

        }


    }

    $(document).ready(function() {
        $(".parametro_ent_resultados").select2({
            allowClear: true,
            placeholder: "Select an option"
        });



    });

</script>

</body>
</html>