<div class="">
    <a href="/calendar" class=""><img id="logo" src="{{ asset('bundles/app/images/logo.png') }}" alt="ilab" /></a>
    <nav class="navigation menu_principal">
        <ul class="mainmenu">
            <li><a href="" class="menu_planeamento"></a>
                    <ul class="submenu">
                        <div>Planeamento de amostras</div>
                        <li><a href="{{path('tamostras') }}" >Calendario</a></li>

                        <li><a href="{{ path('admin_app_tamostras_create') }}">Novo Planeamento</a></li>
                    </ul>
                </li>
            <li><a href="" class="menu_amostras"></a>
                <ul class="submenu">
                    <div>Amostras</div>
                    <li><a href="{{path('admin_app_tamostras_list') }}" >Lista de Amostras</a></li>

                    <li><a href="{{ path('tamostras_new') }}">{{ "Lançamento de Amostra"|convert_encoding('UTF-8', ' iso-8859-1') }}</a></li>
                </ul>
            </li>
            <li><a href="" class="menu_resultados"></a>
                <ul class="submenu">
                    <div>Resultados</div>
                    <li><a href="{{path('admin_app_tamostras_list') }}" >Lista de Resultados</a></li>

                    <li><a href="{{ path('tamostras_new') }}">Entrada de Resultados</a></li>
                </ul>
            </li>
            <li><a href="" class="menu_configuracoes"></a>
                <ul class="submenu">
                    <div>{{ "Configurações"|convert_encoding('UTF-8', ' iso-8859-1') }}</div>
                    <li><a href="{{path('admin_app_tclientes_list') }}" >Clientes</a></li>
                    <li><a href="{{ path('admin_app_tmodelosamostra_list') }}">Modelos Amostra</a></li>
                    <li><a href="{{ path('admin_app_tmodelosparametro_list') }}">Modelos Parametros</a></li>
                    <li><a href="{{ path('admin_app_tmodelosresultados_list') }}">Modelos Resultados</a></li>
                    <li><a href="{{ path('admin_app_tparametros_list') }}">Parametros</a></li>
                    <li><a href="{{ path('admin_app_tgruposparametros_list') }}">Grupos Parametros</a></li>
                    <li><a href="{{ path('admin_app_tprodutos_list') }}">Produtos</a></li>
                    <li><a href="{{ path('admin_app_tespecificacoes_list') }}">{{ "Especificações"|convert_encoding('UTF-8', ' iso-8859-1') }}</a></li>
                    <li><a href="{{ path('admin_app_tlegislacao_list') }}">{{ "Legislação"|convert_encoding('UTF-8', ' iso-8859-1') }}</a></li>
                    <li><a href="{{ path('admin_app_tunidadesmedida_list') }}">Unidades de Medida</a></li>

                </ul>
            </li>
            <li><a href="" class="menu_listagens"></a>
                <ul class="submenu">
                    <div>Listas de Trabalho</div>
                    <li><a href="{{path('admin_app_modeloslistas_list') }}" >Modelos de Listas</a></li>

                </ul>
            </li>
            <li><a href="" class="menu_cartas"></a>
                <!--<ul class="submenu">
                    <li><a href="">Tops</a></li>
                    <li><a href="">Bottoms</a></li>
                    <li><a href="">Footwear</a></li>
                </ul>-->


        </ul>
    </nav>
</div>