{{ form_start(form) }}
    {# ... #}

    {# store the prototype on the data-prototype attribute #}

<ul class="add_tag_link"
    data-prototype="{{ form_widget(form.fnMetodo.vars.prototype)|e }}">
    {% for emailField in form.fnMetodo %}
        <li>
            {{ form_errors(emailField) }}
            {{ form_widget(emailField) }}
        </li>
    {% endfor %}
</ul>

<a href="#" class="add_tag_link">Add a tag</a>

{# ... #}
{{ form_end(form) }}


