    {% block stylesheets %}
          <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/topheadergeral.css') }}" />
          <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/fontes_awesome.css') }}" />
    {% endblock %}
    <style>
      .header_profile {
        position: fixed;
        margin-left: -1px;
        z-index: 999;
        height: 92px;
        border-left: 1px solid #DFDFDF;
        border-bottom: 1px solid #DFDFDF;
        background: white;
      }
    </style>
    <div class="row full-width-row">
      <header class="large-16 columns header_profile" style="width: 100.5%;">
      {% if app.user %}
        <input type="hidden" id="logged" value="{{app.user.id}}">
        <input type="hidden" id="logged_username" value="{{app.user.username}}">
      {% endif %}
        
        <div class="large-6 columns">
              <h6 class="title"> Definições de conta </h6>
              
        </div>
        <div class="large-8 columns">
              <a class="button right inactiveLink bg_color"></a> 
          </div>
          <div class="large-1 columns">
            <div class="menu_direita" >
              <div id="menu_direita_circulo"></div>
            </div>

          </div> 
        
        {% include 'default/ajax_chat_topheader_geral.html.twig' %}

        {% include 'default/ajax_agenda_topheader_geral.html.twig' %}

        <script type="text/javascript">
          $( document ).ready(function() {
             MensagensNaoLidas();
          });
        </script>
        
        <div id="tabs" class="sideBarRight" style="display: none;">


            <ul class="nav nav-tabs material-tabs" role="tablist">
                <li  class="li_agenda">
                <a id="chat_tab" class="tabulador" href="#tabs-1" aria-controls="notifications" role="tab" data-toggle="tab" aria-expanded="false">Agenda de hoje</a>
                
                </li>
                
                <li class="li_chat"><a class="tabulador" href="#tabs-2" aria-controls="message" role="tab" data-toggle="tab" aria-expanded="true">Chat</a>
                </li>
            
            </ul>
            <div id="n_lidas">
                    
            </div>
            
            <div id="tabs-1">
                
            </div>
            
            <div id="tabs-2">

        
            </div> 
        
        <!--
        <div class="large-3 columns collapse">
          <header class="profile">
            <ul class="profile-menu">
              <li>
                <a href="#" class="user-menu">
                  <div class="availability-wrap">
                    <img src="{{ asset('bundles/app/images/avatar.png') }}" alt="" />
                    <i class="availability unavailable"></i>
                  </div>
                  <p>{{ app.user.username }}</p>
                </a>            
                <ul>
                  <li><a href="#" class="user-menu-1"><i></i><span>Definições de conta</span></a></li>
                  <li><a href="#" class="user-menu-2"><i></i><span>Mensagens chat <b class="message-count">25</b></span></a></li>
                  <li><a href="#" class="user-menu-3"><i></i><span>Email</span></a></li>
                  <li><a href="#" class="user-menu-4"><i></i><span>Sair</span></a></li>
                </ul>
              </li>
            </ul>
          </header>
        </div> -->
      </header>
    </div>
    