    {% block stylesheets %}
          <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/topheadergeral.css') }}" />
          <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/fontes_awesome.css') }}" />
    {% endblock %}

    <div class="row full-width-row">
      <header class="large-16 columns header_planeamento" style="width: 100.5%;">
      {% if app.user %}
        <input type="hidden" id="logged" value="{{app.user.id}}">
        <input type="hidden" id="logged_username" value="{{app.user.username}}">
      {% endif %}
        
        <div class="large-6 columns">
              <h6 class="title"> Planeamento de Amostras </h6>
              
        </div>
        <div class="large-8 columns">
              
              <a  id="nova_entidade" href="{{ path('tamostras_new') }}" class="button right">Adicionar Novo</a>
          </div>
          <div class="large-1 columns">
            <div class="menu_direita" >
              <div id="menu_direita_circulo"></div>
            </div>

          </div> 
        
        {% include 'default/ajax_chat_topheader_geral.html.twig' %}

        {% include 'default/ajax_agenda_topheader_geral.html.twig' %}

        <script>
          $( document ).ready(function() {
             MensagensNaoLidas();
          });   
        </script>
        
        <div id="tab_sidebar" class="sideBarRight" style="display: none;">


            <ul class="nav nav-tabs material-tabs" role="tablist">
                <li  class="li_agenda" style="float: left;margin-left: -20px;margin-right: 10px;">
                <a id="chat_tab" class="tabulador" href="#tabs-1" aria-controls="notifications" role="tab" data-toggle="tab" aria-expanded="false">Agenda de hoje</a>
                
                </li>
                
                <li class="li_chat"><a class="tabulador" href="#tabs-2" aria-controls="message" role="tab" data-toggle="tab" aria-expanded="true">Chat</a>
                </li>
            
            </ul>
            <div id="n_lidas">
                    
            </div>
            
            <div id="tabs-1">
                
            </div>
            
            <div id="tabs-2">

        
            </div> 
        
        </div>
      </header>
    </div>
    