{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/topheadergeral.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/fontes_awesome.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/perfil.css') }}" />
{% endblock %}

{% if admin is defined %} 
<div class="row full-width-row">
  <header class="large-15 columns header push-1" >
  {% if app.user %}
    <input type="hidden" id="logged" value="{{app.user.id}}">
    <input type="hidden" id="logged_username" value="{{app.user.username}}">
  {% endif %}
    
    <div class="large-6 columns">
      {% if 'list' in admin.request.pathInfo%}
          {% if 'Legislacao' == admin.label %}
          <h6 class="title"> Listagem de Legislações </h6>
          {% else %}  
          <h6 class="title"> Listagem de {{  admin.label ~ (admin.label|last == 's' ? '' : 's') }} </h6>
          {% endif %}
      {% elseif 'edit' in admin.request.pathInfo%}
      <h6 class="title"> Edição - {{  admin.label }} </h6>
      {% elseif 'create' in admin.request.pathInfo%}
      <h6 class="title"> Criação - {{  admin.label }} </h6>
      {% endif %}
    </div>
    {% if 'list' in admin.request.pathInfo %}
      <div class="large-8 columns">
          <a  id="nova_entidade" href="#" class="button right">Adicionar Novo</a>
      </div>
      <div class="large-1 columns">
        <div class="menu_direita" >
          <div id="menu_direita_circulo"></div>
        </div>
      </div> 
    {% else %}
       <div class="large-8 columns">
          <a class="button right inactiveLink bg_color"></a> 
       </div>
       <div class="large-1 columns">
        <div class="menu_direita">
          <div id="menu_direita_circulo"></div>
        </div>
      </div>  
    {% endif %}
    
    

    {% include 'default/ajax_chat_topheader_geral.html.twig' %}

    {% include 'default/ajax_agenda_topheader_geral.html.twig' %}

    <script>
    $( document ).ready(function() {
       MensagensNaoLidas();
    });   
    </script>
    
    <div id="tab_sidebar" class="sideBarRight" style="display: none;">


        <ul class="nav nav-tabs material-tabs" role="tablist">
            <li  class="li_agenda" style="float: left;margin-left: -20px;margin-right: 10px;">
            <a id="chat_tab" class="tabulador" href="#tabs-1" aria-controls="notifications" role="tab" data-toggle="tab" aria-expanded="false">Agenda de hoje</a>
            
            </li>
            
            <li class="li_chat"><a class="tabulador" href="#tabs-2" aria-controls="message" role="tab" data-toggle="tab" aria-expanded="true">Chat</a>
            </li>
        
        </ul>
        <div id="n_lidas" style="margin-top: -15px;">
                
        </div>
        
        <div id="tabs-1">
            
        </div>
        
        <div id="tabs-2">
            
        </div> 
    </div>

  </header>
</div>
{% endif %}