{% extends '::base.html.twig' %}

{% block body -%}
    <h1>TParametros</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Ftdescricao</th>
                <td>{{ entity.ftDescricao }}</td>
            </tr>
            <tr>
                <th>Fdlimiterealizacao</th>
                <td>{{ entity.fdLimiterealizacao|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Ftcumpreespecificacao</th>
                <td>{{ entity.ftCumpreespecificacao }}</td>
            </tr>
            <tr>
                <th>Ftconclusao</th>
                <td>{{ entity.ftConclusao }}</td>
            </tr>
            <tr>
                <th>Ftobservacao</th>
                <td>{{ entity.ftObservacao }}</td>
            </tr>
            <tr>
                <th>Fdcriacao</th>
                <td>{{ entity.fdCriacao|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fdconclusao</th>
                <td>{{ entity.fdConclusao|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fdautorizacao</th>
                <td>{{ entity.fdAutorizacao|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fnprecocompra</th>
                <td>{{ entity.fnPrecocompra }}</td>
            </tr>
            <tr>
                <th>Fnprecovenda</th>
                <td>{{ entity.fnPrecovenda }}</td>
            </tr>
            <tr>
                <th>Fnfactorcorreccao</th>
                <td>{{ entity.fnFactorcorreccao }}</td>
            </tr>
            <tr>
                <th>Fbacreditado</th>
                <td>{{ entity.fbAcreditado }}</td>
            </tr>
            <tr>
                <th>Fnlimitelegal</th>
                <td>{{ entity.fnLimitelegal }}</td>
            </tr>
            <tr>
                <th>Ftformulaquimica</th>
                <td>{{ entity.ftFormulaquimica }}</td>
            </tr>
            <tr>
                <th>Fnvolumeminimo</th>
                <td>{{ entity.fnVolumeminimo }}</td>
            </tr>
            <tr>
                <th>Fbconfirmacao</th>
                <td>{{ entity.fbConfirmacao }}</td>
            </tr>
            <tr>
                <th>Fbcontraanalise</th>
                <td>{{ entity.fbContraanalise }}</td>
            </tr>
            <tr>
                <th>Fdrealizacao</th>
                <td>{{ entity.fdRealizacao|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fnid</th>
                <td>{{ entity.fnId }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('tparametros') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('tparametros_edit', { 'id': entity.fnId }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
