{{ include('resources.html.twig') }}

{% stylesheets '@AppBundle/Resources/public/css/*' %}
<link rel="stylesheet" href="{{ asset('bundles/applicationsonatauser/css/app.css') }}" />

<link rel="stylesheet" href="{{ asset('bundles/applicationsonatauser/css/style.css') }}" />

{% endstylesheets %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/applicationsonatauser/js/mainjs.js') }}"></script>
{% endblock %}

{% if is_granted("ROLE") %}
    saddas
    Hi {{ app.user.username }}
{% else %}


{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}

    <section class="row login valign-middle login" >
        <div class="small-16 medium-12 large-6 columns">
            <img src="{{ asset('bundles/applicationsonatauser/images/logo.png') }}" alt="ilab" class="login-logo"/>

            <form action="{{ path("fos_user_security_check") }}" method="post" class="login-form">

                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <input placeholder="Utilizador" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

                <input placeholder="Palavra-Chave" type="password" id="password" name="_password" required="required" />
                <input type="submit" id="_submit" name="_submit" class="button expand" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />

                <input id="keep-session" type="checkbox">
                <label for="keep-session">Manter sessão aberta</label>
                <input type="hidden" name="_target_path" value="/calendar" />
                <a href="#" class="right">Esqueceu a sua password?</a>


            </form>
            <p class="text-center">&copy; 2015 iLab lims Admin Dashboard</p>
        </div>
    </section>



{% endblock fos_user_content %}
    {% endif %}
