

{% include 'AppBundle::resources.html.twig' %}


{% stylesheets%}

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
{% endstylesheets %}

{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.min.js"></script>


    <script type="text/javascript" src="{{ asset('bundles/app/js/lang-all.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/calendar-settings.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/ajaxsave.js') }}"></script>
{% endblock %}

<link rel="stylesheet" type="text/css" href="/bundles/app/css/calendario.css" />

{% block scripts -%}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script type="text/javascript">
        angular.module('CalendarModule', [])
                .controller('CalendarCtrl', function($scope, $locale, $http) {
                    $scope.show = true;
                    $scope.changeshow = function(){
                        $scope.show = $scope.show == true ? false : true;

                    }
                }).config(function($interpolateProvider){
                    $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
                });


    </script>
{% endblock %}

<div class="container-fluid new_cal_element new_planeamento">
    <div class="row">
        <div class="large-1 columns " style="height: auto;box-shadow: 1px 1px 10px #888888;z-index: 999;width: 100px;padding-left: 25px;">
            {% include 'default/menu.html.twig' %}
        </div>
        <div class=" large-15 columns">
            <div class="row">
                <div class="large-16 columns">
                    {% include 'default/topheader_planeamento_new.html.twig' %}
                    <style>
                        #tab_sidebar a
                        {
                            cursor: pointer!important;
                            color: black;
                            text-decoration: none!important;
                            background-color: white!important;
                        }

                        #tab_sidebar a:hover{
                            background-color: transparent!important;
                            -webkit-box-shadow: inset 0 -2px 0 #139c9b!important;
                            -moz-box-shadow: inset 0 -2px 0 #139c9b!important;
                            box-shadow: inset 0 -2px 0 #139c9b!important;
                            color: #139c9b!important;
                        }

                        #tab_sidebar a:focus{
                            background-color: transparent!important;
                            -webkit-box-shadow: inset 0 -2px 0 #139c9b!important;
                            -moz-box-shadow: inset 0 -2px 0 #139c9b!important;
                            box-shadow: inset 0 -2px 0 #139c9b!important;
                            color: #139c9b!important;
                        }

                        .loading
                        {
                            margin-top: 10px!important;
                        }

                        #chat_tab{
                            margin-right: 0px!important;
                        }

                        p.agenda {
                            margin-left: 35px !important;
                            color: black;
                        }
                    </style>
                </div>
            </div>
            <div class="row">
                <div class="large-10 columns no-padding" style="margin-top: -580px;">

                    {% block body -%}
                        {{ form(form) }}
                    {% endblock %}

                    <div class="large-9 columns">
                        <a href="/NovoPlaneamento" class="button right">Voltar a Lista</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function sendForm(form, callback) {
        // Get all form values
        var values = {};
        $.each( form[0].elements, function(i, field) {
            if (field.type != 'checkbox' || (field.type == 'checkbox' && field.checked)) {
                values[field.name] = field.value;
            }
        });

        // Post form
        $.ajax({
            type        : 'POST',
            url         : '/app_dev.php/agenda/calendar/newshort',
            data        : values,
            success     : function(result) { callback( result ); }
        });
    }
    $(function() {
        $('#submit_short_calendar').on('click', function( e ){
            e.preventDefault();
            $("#cal_new_event").css( {display:"none"});
            sendForm( $('#short_calendar'), function( response ){

                var data = JSON.parse(response);
                $('#calendar-holder').fullCalendar('renderEvent',
                        {
                            id: data.events.event.id,
                            title: data.events.event.title,
                            start: data.events.event.startdate,
                            end: data.events.event.enddate,
                            allDay: data.events.event.allday == 1 ? true : false
                        }
                );
                $('#calendar-holder').fullCalendar('rerenderEvents')
            });
        });
    });
</script>


